/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: radial-gradient(circle at top, #1a1a1a, #000000);
    color: white;
}

/* GENERAL SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

/* HERO */
.hero {
    padding-top: 50px;
}

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.hero h1 {
    font-size: 2rem;

    background: linear-gradient(#a6e3fc, #f1f7f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tagline {
    opacity: 0.7;
    margin-top: 10px;
}

/* ABOUT */
.about {
    max-width: 700px;
    margin: auto;
    height: 200px;
}

.about h2 {
    margin-bottom: 15px;
}

.about p {
    opacity: 0.8;
    line-height: 1.6;
}

/* LINKS */
.links h2 {
    margin-bottom: 20px;
}

.link-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.link-buttons a {
    width: 80%;
    max-width: 300px;

    padding: 12px;
    text-decoration: none;
    color: white;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);

    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.25s ease;
}

.link-buttons a:hover {
    background: linear-gradient(90deg, #ff0055, #ffaa00);
    color: black;
    transform: translateY(-3px);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    opacity: 0.5;
}

/* TABLET */
@media (min-width: 600px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .link-buttons {
        flex-direction: row;
        justify-content: center;
    }
}

/* DESKTOP */
@media (min-width: 900px) {
    section {
        padding: 80px 20px;
    }

    .hero h1 {
        font-size: 3rem;
    }
}